body { margin: 0px; }
h3 {  font-weight: normal; width: 250px; overflow: hidden; white-space: normal; word-wrap: break-word; max-height: 96px; display:inline-block;margin-right:30px; }
h3 code { font-size: 15px; }
#content { height: 600px; width: 400px; overflow-y: scroll; }
ul { list-style-type: none; padding: 0px; max-width: 500px; }
li i { font-size: 10px; }
li pre { white-space: pre-wrap; word-wrap: break-word; background: #f2f2f2; padding: 2px 5px 5px; margin: 0; }
li { margin: 0 0 5px; padding: 0; white-space: pre-wrap; word-wrap: break-word; }
li span { font-size: 10px; line-height: 12px; margin: 0 0 2px; }

/* h3 { margin: 0 0 5px 0; font-weight: normal; width: 300px; overflow: hidden; white-space: normal; word-wrap: break-word; max-height: 96px; }
h3 code { font-size: 15px; }
#content { min-height: 400px; max-height: 800px; padding: 0 10px 10px; }
ul { list-style-type: none; padding: 0px; max-width: 500px; width: 350px; }
li i { font-size: 10px; }
li pre { white-space: pre-wrap; word-wrap: break-word; background: #f2f2f2; padding: 2px 5px 5px; margin: 0; }
li { margin: 0 0 5px; padding: 0; white-space: pre-wrap; word-wrap: break-word; }
li span { font-size: 10px; line-height: 12px; margin: 0 0 2px; } */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 7px;
    transition: 0.3s;
    font-size: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
